---

- name: Galera recovery, start a new cluster
  hosts: "{{ groups['galera_container'] }}"
#  hosts: "{{ groups['galera_container'][0] }}"
  serial: 1
  tasks:

    - name: "Stop galera services"
      ansible.builtin.shell: |
        systemctl stop mariadb

    - name: "Enable bootstrap in /var/lib/mysql/grastate.dat"
      ansible.builtin.shell: |
        sed -i 's/safe_to_bootstrap: 0/safe_to_bootstrap: 1/' /var/lib/mysql/grastate.dat
      when: inventory_hostname in (groups|map('first')|list)

    - name: "Enable galera env to start a new cluster"
      ansible.builtin.shell: |
        systemctl set-environment _WSREP_NEW_CLUSTER='--wsrep-new-cluster'
      when: inventory_hostname in (groups|map('first')|list)

    - name: "Start galera new cluster"
      ansible.builtin.shell: |
        systemctl start mariadb

    - name: "Cleanup env"
      ansible.builtin.shell: |
        systemctl set-environment _WSREP_NEW_CLUSTER=''
      when: inventory_hostname in (groups|map('first')|list)
