---

- hosts: "all"
  serial: 1
  become: true
  
  tasks:

    - name: Run apt-get update
      ansible.builtin.apt:
        update_cache: yes

    - name: Run apt-get upgrade with dpkg force confhold,confdef
      ansible.builtin.apt:
        upgrade: yes
        update_cache: yes
        dpkg_options: 'force-confold,force-confdef'

    - name: Install gpg,cron,locales-all,linux-image-cloud-amd64
      ansible.builtin.apt:
        update_cache: yes
        pkg: 
        - gpg
        - cron
        - locales-all
        - linux-image-cloud-amd64

    - name: Remove dependencies that are no longer required.
      ansible.builtin.apt:
        autoremove: yes

    - name: Check if a reboot is required.
      ansible.builtin.stat:
        path: /var/run/reboot-required
        get_checksum: no
      register: reboot_required_file

    - name: Reboot the server (if required).
      ansible.builtin.reboot:
      when: reboot_required_file.stat.exists == true
