---

- hosts: localhost
  serial: 1
  gather_facts: false

  module_defaults:
    group/openstack.cloud.openstack:
      cloud: opn
      auth:
        project_name: "{{ opn_project }}"

  tasks:

    - name: Create a project
      openstack.cloud.project:
        auth:
          project_name: "admin"
        name: "{{ opn_project }}"
        description: "{{ opn_project }} project"
        is_enabled: True
        extra_specs:
          internal_alias: "{{ opn_project }}"
        state: present

    - name: "Grant a member role on the user admin in the project {{ opn_project }}"
      openstack.cloud.role_assignment:
        auth:
          project_name: "admin"
        user: tomm
        role: member
        project: "{{ opn_project }}"

    - name: Create (or update) IN_SSH security group
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group:
        state: present
        name: IN_SSH
        description: allow incoming ssh
    - name: Update security group rules
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group_rule:
        security_group: IN_SSH
        protocol: tcp
        port_range_min: 22
        port_range_max: 22
        remote_ip_prefix: 0.0.0.0/0

    - name: Create (or update) IN_HTTP security group
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group:
        state: present
        name: IN_HTTP
        description: allow incoming ssh
    - name: Update security group rules
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group_rule:
        security_group: IN_HTTP
        protocol: tcp
        port_range_min: 80
        port_range_max: 80
        remote_ip_prefix: 0.0.0.0/0

    - name: Create (or update) ALLOW_ALL security group
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group:
        state: present
        name: ALLOW_ALL
        description: allow incoming ssh
    - name: Update security group rules
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group_rule:
        security_group: ALLOW_ALL
        protocol: tcp
        remote_ip_prefix: 0.0.0.0/0
    - name: Update security group rules
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group_rule:
        security_group: ALLOW_ALL
        protocol: udp
        remote_ip_prefix: 0.0.0.0/0
    - name: Update security group rules
      run_once: true
      delegate_to: localhost
      openstack.cloud.security_group_rule:
        security_group: ALLOW_ALL
        protocol: icmp
        remote_ip_prefix: 0.0.0.0/0
