---

- hosts: localhost
  serial: 1
  gather_facts: false

  module_defaults:
    group/openstack.cloud.openstack:
      cloud: opn

  tasks:

    #MARK: EXTERNE
    - openstack.cloud.network:
        project: admin
        state: present
        name: EXTERNE
        dns_domain: opn.lab.
        external: true
        shared: true
        provider_network_type: vlan
        provider_physical_network: provider-vlan
        provider_segmentation_id: 5

    - openstack.cloud.subnet:
        project: admin
        state: present
        name: externe
        network_name: EXTERNE
        cidr: 192.168.135.0/24
        dns_nameservers:
          - 192.168.133.251
        extra_attrs:
          dns_publish_fixed_ip: true

    #MARK: APP-NTIER
    - openstack.cloud.network:
        project: app-ntier
        state: present
        name: NTIER
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve

    - openstack.cloud.subnet:
        project: app-ntier
        state: present
        name: ntier 
        network_name: NTIER
        cidr: 192.168.23.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: app-ntier
        name: NTIER-GW
        network: EXTERNE
        interfaces:
          - status
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.23
        state: present

    #MARK: APP-STATUS
    - openstack.cloud.network:
        project: app-status
        state: present
        name: STATUS
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve

    - openstack.cloud.subnet:
        project: app-status
        state: present
        name: status
        network_name: STATUS
        cidr: 192.168.22.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: app-status
        name: STATUS-GW
        network: EXTERNE
        interfaces:
          - status
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.22
        state: present

    #MARK: APP-BILLING
    - openstack.cloud.network:
        project: app-billing
        state: present
        name: BILLING
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve

    - openstack.cloud.subnet:
        project: app-billing
        state: present
        name: billing
        network_name: BILLING
        cidr: 192.168.21.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: app-billing
        name: BILLING-GW
        network: EXTERNE
        interfaces:
          - billing
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.21
        state: present

    #MARK: APP-FOREMAN
    - openstack.cloud.network:
        project: app-foreman
        state: present
        name: FOREMAN
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve

    - openstack.cloud.subnet:
        project: app-foreman
        state: present
        name: foreman
        network_name: FOREMAN
        cidr: 192.168.20.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: app-foreman
        name: FOREMAN-GW
        network: EXTERNE
        interfaces:
          - foreman
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.20
        state: present

    #MARK: APP-MONITORING
    - openstack.cloud.network:
        project: app-monitoring
        state: present
        name: MONITORING
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve

    - openstack.cloud.subnet:
        project: app-monitoring
        state: present
        name: monitoring
        network_name: MONITORING
        cidr: 192.168.19.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: app-monitoring
        name: MONITORING-GW
        network: EXTERNE
        interfaces:
          - monitoring
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.19
        state: present

    #MARK: LAB1
    - openstack.cloud.network:
        project: lab1
        state: present
        name: LAB1
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5001

    - openstack.cloud.subnet:
        project: lab1
        state: present
        name: lab1
        network_name: LAB1
        cidr: 192.168.11.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab1
        name: LAB1-GW
        network: EXTERNE
        interfaces:
          - lab1
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.11
        state: present

    #MARK: LAB2
    - openstack.cloud.network:
        project: lab2
        state: present
        name: LAB2
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5002

    - openstack.cloud.subnet:
        project: lab2
        state: present
        name: lab2
        network_name: LAB2
        cidr: 192.168.12.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab2
        name: LAB2-GW
        network: EXTERNE
        interfaces:
          - lab2
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.12
        state: present

    #MARK: LAB3
    - openstack.cloud.network:
        project: lab3
        state: present
        name: LAB3
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5003

    - openstack.cloud.subnet:
        project: lab3
        state: present
        name: lab3
        network_name: LAB3
        cidr: 192.168.13.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab3
        name: LAB3-GW
        network: EXTERNE
        interfaces:
          - lab3
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.13
        state: present

    #MARK: LAB4
    - openstack.cloud.network:
        project: lab4
        state: present
        name: LAB4
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5004

    - openstack.cloud.subnet:
        project: lab4
        state: present
        name: lab4
        network_name: LAB4
        cidr: 192.168.14.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab4
        name: LAB4-GW
        network: EXTERNE
        interfaces:
          - lab4
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.14
        state: present

    #MARK: LAB5
    - openstack.cloud.network:
        project: lab5
        state: present
        name: LAB5
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5005

    - openstack.cloud.subnet:
        project: lab5
        state: present
        name: lab5
        network_name: LAB5
        cidr: 192.168.15.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab5
        name: LAB5-GW
        network: EXTERNE
        interfaces:
          - lab5
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.15
        state: present

    #MARK: LAB6
    - openstack.cloud.network:
        project: lab6
        state: present
        name: LAB6
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5006

    - openstack.cloud.subnet:
        project: lab6
        state: present
        name: lab6
        network_name: LAB6
        cidr: 192.168.16.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab6
        name: LAB6-GW
        network: EXTERNE
        interfaces:
          - lab6
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.16
        state: present

    #MARK: LAB7
    - openstack.cloud.network:
        project: lab7
        state: present
        name: LAB7
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5007

    - openstack.cloud.subnet:
        project: lab7
        state: present
        name: lab7
        network_name: LAB7
        cidr: 192.168.17.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab7
        name: LAB7-GW
        network: EXTERNE
        interfaces:
          - lab7
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.17
        state: present

    #MARK: LAB8
    - openstack.cloud.network:
        project: lab8
        state: present
        name: LAB8
        dns_domain: opn.lab.
        shared: false
        provider_network_type: geneve
        # provider_segmentation_id: 5008

    - openstack.cloud.subnet:
        project: lab8
        state: present
        name: lab8
        network_name: LAB8
        cidr: 192.168.18.0/24
        dns_nameservers:
          - 192.168.133.249
        extra_attrs:
          dns_publish_fixed_ip: true

    - openstack.cloud.router:
        project: lab8
        name: LAB8-GW
        network: EXTERNE
        interfaces:
          - lab8
        enable_snat: true
        external_fixed_ips:
          - subnet_id: 91baef7d-6014-43ce-a6a5-a2abf07ef4e6
            ip_address: 192.168.135.18
        state: present
