---

- name: Configure Gluster volume.
  gluster_volume:
    state: present
    name: "{{ gluster_brick_name }}"
    brick: "{{ gluster_brick_dir }}"
    replicas: 3
    cluster: "{{ groups['ntier-gluster'] | map('extract', hostvars, ['ansible_default_ipv4','address']) | list | join(',') }}"
    host: "{{ inventory_hostname }}"
    force: true
  run_once: true
  when: ('ntier-gluster' in group_names)

- name: Start Gluster volume.
  gluster_volume:
    state: started
    name: "{{ gluster_brick_name }}"
  run_once: true
  when: ('ntier-gluster' in group_names)

# fixme: current opts is static for 3 gluster server hosts, must be corrected to loop trough host in group ntier-gluster excluding first one
#        like (no tested): {%- if item.nodes | length > 1 -%}{{ 'backup-volfile-servers=' }}{%- for n in (groups['ntier-gluster'] | map('extract', hostvars, ['ansible_default_ipv4','address']) | list) -%}{% if !loop.first %}{{ hostvars[groups['ntier-gluster'][n]]['ansible_host'] + ':/' + gluster_brick_name }}{%- endif -%}{% if !loop.last %},{%- endif -%}{%- endfor -%}{%- endif -%}
- name: Ensure Gluster volume is mounted.
  mount:
    name: "{{ mountpoint }}"
    src: "{{ hostvars[groups['ntier-gluster'][0]]['ansible_default_ipv4']['address'] + ':/' + gluster_brick_name | trim }}"
    fstype: glusterfs
    opts: "defaults,_netdev,backup-volfile-servers={{ hostvars[groups['ntier-gluster'][1]]['ansible_default_ipv4']['address'] }}:{{ hostvars[groups['ntier-gluster'][2]]['ansible_default_ipv4']['address'] }}"
    state: mounted
  when: ('ntier-app' in group_names) or ('ntier-web' in group_names)
